ul.links { list-style: none; margin: 0; padding: 0; display: inline }
ul.links li { display: inline }
ul.links li:after { content: "," } 
ul.links li:last-child:after { content: "" }

#preview
{
  display:inline;
  float: left;
  max-width: 75%;
}

.img-preview
{
   margin-right:15px;
   margin-top:10px;
   float:left;
}

#subdirectories
{
   display:inline;
}


